<h1>Places</h1>
<p class="nav-item">
    <a href="/places/new/" class="btn btn-success">New Place</a>
</p>
<h4>
<p>
  <% for place in @places %>

    <p><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></p>
  <% end %>
</p>
</h4>